In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('adult.data.csv')

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [4]:
raceCount = df.groupby('race').size()
raceCount

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
dtype: int64

# What is the average age of men?

In [5]:
avgAgeMen = df[df['sex'] == 'Male']['age'].mean()

In [6]:
str(round(avgAgeMen,2))

'39.43'

# What is the percentage of people who have a Bachelor's degree?

In [7]:
# ask about shape concept
perBach = df[df['education'] == 'Bachelors']

In [8]:
perBach=(perBach.shape[0]/df.shape[0])*100
str(round(perBach,3))

'16.446'

# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [9]:
highEdu = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [10]:
highEduPer = (highEdu[highEdu['salary'] == '>50K']['salary'].count() / highEdu.shape[0]) * 100

In [11]:
str(round(highEduPer,3))

'46.536'

# What percentage of people without advanced education make more than 50K?

In [12]:
lowEdu = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [13]:
lowEduPer = (lowEdu[lowEdu['salary'] == '>50K']['salary'].count() / lowEdu.shape[0]) * 100

In [14]:
str(round(lowEduPer,3))

'17.371'

# What is the minimum number of hours a person works per week (hours-per-week feature)?

In [5]:
minWorHrs = df['hours-per-week'].min()

In [6]:
minWorHrs

1

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [7]:
numMinWorkers = df[df['hours-per-week'] == 1]['hours-per-week'].count()
numMinWorkers

20

In [8]:
minWorkersPer= (df[(df['hours-per-week'] == 1) & (df['salary'] == '>50K')].shape[0] / numMinWorkers)*100

In [9]:
minWorkersPer

10.0

# What country has the highest percentage of people that earn >50K?

In [20]:
highEarnCountry = df[df['salary'] == '>50K'].groupby('native-country')['native-country'].count().max()

In [21]:
highEarnCountryPer = (highEarnCountry / df.groupby('native-country')['native-country'].count().max())*100

In [22]:
str(round(highEarnCountryPer,3))

'24.583'

# Identify the most popular occupation for those who earn >50K in India.

In [10]:
top_IN_occupation = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')].groupby('occupation')['occupation'].count().max()
temp= df[(df['native-country'] == 'India') & (df['salary'] == '>50K')].groupby('occupation')['occupation'].count()

In [24]:
top_IN_occupation

25

In [25]:
dg=temp.to_csv('temp.csv')
# df['occupation']
# top_IN_occupation['occupation'==2
dg=pd.read_csv('temp.csv')
# dg
dg.loc[dg['occupation.1']==top_IN_occupation]
# dg['occupation'].max()

       occupation  occupation.1
3  Prof-specialty            25